@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link{
    text-align: center;    
    text-decoration: none;
    padding: 10px 30px;
    font-family: "Merriweather", 'Lato', arial;
  }
  
.nav-link:hover{
  background-color: #6A3E37;
  color: #F5A65B;
  border-radius: 5px; 
  }

body{
  background-color: #E7A977;
  color: #6A3E37
}

.table{
  --bs-table-bg: #E7A977;
}

.link, td a{
  color: #6A3E37;
  text-decoration: none;
  padding: 10px;
}

td a{
  padding: 5px 10px;
  border: none;
}

.link:hover, td a:hover{
  color: #E7A977;
  background-color: #6A3E37;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}



td a:hover{
  padding: 5px 10px;
}

.submit {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin: 10px 0;

}

.submit:hover{
  background-color: #1861ac;
  color: white;
}

.footer, .navbar, .navbar-brand{
  font-size: larger;
  color: #6A3E37 !important;
  background-color: #f5a65b !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}